/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require codemirror.css
 *= require docs.css
 *= require normalize.css
 */
.header {
	height: 10%;
}
 html {
 	margin: 0 10px 0 10px;
 }

.test {
	width: 50%;
	-webkit-box-sizing: border-box;
	float: left;
	border-right: 1px solid grey;
	padding-right: 10px;
}

.test label {
	margin-right: 20px;
}

.solution {
	width: 50%;
	-webkit-box-sizing: border-box;
	float: right;
	padding-left: 10px;
	border-left: 1px solid grey;
}

.solution label {
	margin-right: 20px;
}

.output {
	clear: both;
}

.navbar ul {
	text-align: center;
}

.navbar li {
	display: inline;
	padding: 0 50px 0 50px;
}

.login {
	float: right;
}

.output {
	margin: 0 20% 0 20%;
	padding: 5px 5px 5px 5px;
	border: 2px solid grey;
	background-color: black;
	color: green;
	font-family: "Consolas";
}