<%= render 'display_test' %>

<h2>Solutions:</h2>
<% unless @solutions.empty? %>
<ul>
<% @solutions.each do |s| %>
<li>
	<%= link_to s.description, test_solution_path(@test.id, s.id) %>
</li>
<% end %>
</ul>
<% else %>
<p>No Solutions Yet</p>
<% end %>

<% unless @test.user.id == current_user.id || current_user.collaborating_with(@test.user_id) %>
<%= link_to "Collaborate with #{@test.user.email}!", create_collaboration_path(collaborator_id: @test.user.id, test_id: @test.id), method: :create %>
<% end %>
<br>
<%= link_to "Write new solution", new_test_solution_path(@test.id) %>